:root {
  --navback: #49230f;
  --accentMain: #d4e09b;
  --headings: #0a210f;
  --accentSub: #ffedca;
  --accentMinor: #fffaf1;
  --accentOther: #216830;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, serif;
  margin: 0;
  background-color: var(--accentSub);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  font-family: Verdana, sans-serif;
}

h2,
h3,
h4,
h5,
h6,
p {
  color: #386641;
}

p {
  line-height: 1.5;
}

h1 {
  color: var(--headings);
}

button {
  border: none;
  border-radius: 12%/50%;
  width: 18rem;
  background-color: var(--accentMain);
  font-size: 1.3rem;
  letter-spacing: 4px;
  padding: 1.25rem;
  transition: transform 0.5s ease, background-color 0.5s ease-out;
}

button a {
  text-decoration: none;
  color: var(--headings);
  transition: color 0.5s ease;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: var(--headings);
}

button:hover a {
  color: var(--accentMain);
}

/*Header*/
/*Some code sourced and edited accordingly from:

Kevin Powell - Create a responsive navigation bar with no JS! - https://www.youtube.com/watch?v=8QKOaTYvYUA */

header {
  background-color: var(--navback);
  position: relative;
  z-index: 999;
  width: 100%;
}

.logo {
  margin-top: 1rem;
  display: none;
}

.logo-heading {
  display: none;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: relative;
  background-color: var(--navback);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: var(--accentSub);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 10px;
}

.nav-toggle-label span::after {
  top: 10px;
}

nav {
  position: absolute;
  text-align: center;
  background-color: var(--navback);
  top: 100%;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 350ms ease-in-out;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  transition: transform 0.3s ease-out;
}

nav li:hover {
  transform: scale(1.1);
}

nav a {
  color: var(--accentSub);
  text-decoration: none;
  font-size: 1rem;
  text-shadow: 0 0 0.5rem var(--headings);
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

nav a:hover {
  color: var(--accentMain);
}

.is-active {
  color: var(--accentMain);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 200ms ease-in-out 200ms;
}

/* Footer */

/*Some code sourced and edited accordingly from:

Kevin Powell - Easy sticky footer - https://www.youtube.com/watch?v=yc2olxLgKLk */

footer {
  background-color: var(--navback);
  width: 100%;
  bottom: 0px;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: auto;
}

.back-to-top a,
footer p {
  color: var(--accentSub);
}

footer p {
  grid-column: 1;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3em;
  font-size: clamp(0.8rem, 1.5vw, 1.4rem);
}

.socials {
  grid-column: 2;
  margin: 1rem 0;
}

.back-to-top {
  font-size: clamp(1.1rem, 2vw, 1.25rem);
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3em;
}

.back-to-top a {
  text-decoration: none;
  transition: transform 0.3s ease-out;
}

.back-to-top:hover a {
  transform: scale(1.1);
  color: var(--accentMain);
}

/* Home image background */

/* Some code sourced and edited accordingly from: 
csPoint - Full Screen Background Image Slider using CSS and HTML only - https://www.youtube.com/watch?v=Kd9LBwfB7Hc
Web Zone - Full Screen Hero Background Image using HTML and CSS - https://www.youtube.com/watch?v=URTDznfBisY
White, Z - How to make cross-fading images with CSS - https://www.devtwins.com/blog/css-cross-fading-images */

.home-background {
  background: linear-gradient(rgba(43, 19, 0, 0.6), rgba(43, 19, 0, 0.6));
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.home-underside {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--navback);
  z-index: -4;
}

.home-background-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-background-text {
  z-index: 100;
}

.pic {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  animation: animate 24s infinite;
}

#pic1 {
  animation-delay: 0s;
  background-image: url(../images/bg1.jpg);
}

#pic2 {
  animation-delay: 6s;
  background-image: url(../images/bg2.jpg);
}

#pic3 {
  animation-delay: 12s;
  background-image: url(../images/bg3.jpg);
}

#pic4 {
  animation-delay: 18s;
  background-image: url(../images/bg4.jpg);
}

@keyframes animate {
  0% {
    opacity: 1;
  }

  16.67% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  91.67% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#front-H1 {
  margin: 0 3rem;
  font-size: clamp(3rem, 5vw, 3.8rem);
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  line-height: 1;
  color: var(--accentMain);
  animation: h1Fade ease-out 1s;
}

@keyframes h1Fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#front-P {
  margin: 0 4rem;
  font-size: clamp(1.9rem, 3vw, 2.5rem);
  text-shadow: 0 0 0.7rem rgba(0, 0, 0, 1);
  color: var(--accentSub);
  animation: frontPSlide 1s ease-out, frontPFade ease-out 1s;
}

@keyframes frontPSlide {
  0% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes frontPFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Home About section*/

.about-home {
  background-color: var(--headings);
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.about-heading {
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  line-height: 1;
  color: var(--accentMain);
  margin: 4vh 3vh;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-home img {
  border-radius: 11.25%;
  max-width: 400px;
}

.about-text {
  color: var(--accentSub);
  grid-row: 3;
  margin: 0;
  font-size: clamp(1.25rem, 1.5vw, 1.4rem);
  margin: 4vh 0;
}

.img1,
.img2 {
  float: none;
  display: flex;
  justify-content: center;
}

.img1 {
  grid-row: 2;
}

.img2 {
  grid-row: 4;
  margin-bottom: 6vh;
}

/*Home Associates*/

.home-associates {
  background-color: var(--accentOther);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.home-associates h2 {
  color: var(--accentSub);
  font-size: clamp(1.6rem, 3vw, 2.2rem);
}

/*Some code sourced and edited accordingly from:

Conor Bailey - JavaScript: Create a Device Friendly Product Slider With Progress Bar - https://www.youtube.com/watch?v=LPBGK1gqXoU */

.home-associates-row {
  position: relative;
  width: 90%;
  height: 100%;
  cursor: grab;
  margin: 2rem 0;
}

.slider-inner::before,
.slider-inner::after {
  height: 170px;
  width: 15%;
  position: absolute;
  content: "";
  background: linear-gradient(to right, var(--accentOther) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.slider-inner::before {
  left: 0;
  top: 0;
}

.slider-inner::after {
  right: -1px;
  top: 0;
  transform: rotateZ(180deg);
}

.slider {
  width: 100%;
  overflow: scroll;
}

.slider-inner {
  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
  width: max-content;
}

.slider-item {
  height: 100%;
  border-radius: 30px;
}

.slider-item img {
  border-radius: 12%/17.6%;
  display: block;
  pointer-events: none;
}

.slider-progress-bar {
  margin-top: 1rem;
  height: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.prog-bar-inner {
  height: 100%;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*About*/

/*Some code sourced and edited accordingly from:

dcode - Image Hover Text Overlay Effeect with HTML & CSS - https://www.youtube.com/watch?v=exb2ab72Xhs */

.about {
  width: 90vw;
  margin: 2rem auto;
}

.about p {
  margin: 2rem 2rem;
}

.about h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
}

.about-images {
  display: grid;
  column-gap: 2rem;
  margin: 0 1rem 0 1rem;
}

.image-wrapper {
  position: relative;
  margin: 1rem auto;
}

.image-wrapper img {
  display: block;
  width: 100%;
  border-radius: 6%/7.5%;
  max-width: 500px;
  transition: filter 0.25s;
}

.image-wrapper:hover img {
  filter: blur(3px);
}

.image-caption {
  position: absolute;
  padding: 1rem;
  border-radius: 6%/7.5%;
  background-color: rgba(10, 33, 15, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-caption:hover {
  opacity: 1;
}

.image-caption p {
  color: var(--accentMain);
  font-size: 2rem;
}

.home-wrapper {
  max-width: 400px;
  display: block;
}

/*Events*/
.events h3 {
  color: var(--headings);
}

.events {
  margin-bottom: 2rem;
}

.event-links {
  display: flex;
  flex-wrap: wrap;
}

.event-content {
  order: 99;
  text-align: justify;
  width: 100%;
  display: none;
  border-top: none;
  box-shadow: 0px 0px 20px var(--headings);
  border-radius: 0px 0px 30px 30px;
  margin: auto;
  padding: 2rem;
  background-color: #fff0d2;
}

.event-content h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.event-content ul li {
  line-height: 1.3;
  padding-left: 0.4rem;
}

.event-content ul {
  margin: 0 1rem;
}

.first-heading {
  margin-top: 1rem;
}

.event-image {
  border-radius: 30px;
  margin: auto;
  height: 100%;
}

.event-content img {
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.event-content h3,
.event-content p,
.event-content a {
  margin-bottom: 1rem;
  line-height: 1.25;
  margin-right: 2rem;
}

/* Some code sourced and edited accordingly from:

    Julio Codes - Reponsive FAQ accordion dropdown - https://www.youtube.com/watch?v=MXrtXg1kpVs 
    dcode - How to create a CSS-Only Accordion - https://www.youtube.com/watch?v=pzy_QStQaqA */

.events-container {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 85%;
}

.events-container h1 {
  margin: 2rem auto;
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
}

.event-label {
  padding: 0.5rem 1rem;
  border-radius: 10px 10px;
  border-top: 1px solid rgba(33, 104, 48, 0.1);
  border-left: 1px solid rgba(33, 104, 48, 0.1);
  border-right: 1px solid rgba(33, 104, 48, 0.1);
  display: block;
  font-size: 1rem;
  color: var(--headings);
  background-color: var(--accentMain);
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease;
  flex: 1;
}

.event-label:hover {
  background-color: #28823c;
}

.event-label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-image: url("../images/chevron.svg");
  background-size: contain;
  transition: transform 0.5s;
}

.event-input {
  display: none;
}

.event-input:checked + .event-label {
  font-weight: bold;
  color: var(--accentMinor);
  background-color: var(--accentOther);
}

.event-input:checked + .event-label + .event-content {
  display: grid;
}

.event-input:checked + .event-label::after {
  transform: translateY(-50%) rotate(0.25turn);
}

/*Image Gallery*/

/*Some code sourced and edited accordingly from:

dcode - How to Create an Image Grid Gallery - https://www.youtube.com/watch?v=rnhoY5Cdmy0
Coding in Public - Lightbox Image Gallery Part 1 & 2 - https://www.youtube.com/watch?v=K64-o0JgO-s & https://www.youtube.com/watch?v=_h6iT2UnyVs */

.gallery-container h1 {
  margin-top: 2rem;
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
}

.gallery-container button {
  margin-bottom: 2rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
  margin: 2rem;
  gap: 2rem;
  justify-content: center;
}

.lightbox-enabled {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 6%/9%;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}

.lightbox-enabled:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lightbox-container.active {
  opacity: 1;
  pointer-events: all;
}

.lightbox-image-wrapper {
  display: grid;
  place-items: center;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
  border-radius: 3%/4.5%;
  background-color: var(--accentMain);
}

.lightbox-image {
  width: 100%;
  object-fit: fill;
  cursor: zoom-out;
  border-radius: 3%/4.5%;
}

.description {
  margin: 1rem;
  color: var(--headings);
}

.lightbox-btn {
  width: auto;
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  place-items: center;
  padding: 1rem;
  color: var(--headings);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.lightbox-btn:hover {
  background-color: var(--accentMain);
}

.lightbox-btn.inactive {
  opacity: 0;
  pointer-events: none;
}

.lightbox-btn:focus {
  outline: none;
}

#left {
  left: 5px;
}

#left:hover,
#left:focus {
  left: 0px;
}

#right {
  right: 5px;
}

#right:hover,
#right:focus {
  right: 0px;
}

/*Bookings*/

.bookings-container h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  margin-bottom: 1rem;
}

.bookings-container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
}

form {
  text-align: start;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
}

label {
  display: block;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  margin: 0.3rem 0 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  font-size: 0.8rem;
  font-family: Verdana, sans-serif;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 20%);
}

input,
select {
  height: 2rem;
}

textarea {
  resize: none;
}

.other-details {
  grid-column: 1 / -1;
}

#submit,
#reset {
  box-shadow: none;
  min-height: 2.5rem;
  border-radius: 20px;
  font-family: Georgia, serif;
  font-size: 1rem;
  letter-spacing: 4px;
  transition: transform 0.5s ease;
  max-width: 100%;
}

#submit {
  background-color: var(--accentOther);
  color: white;
  justify-content: flex-start;
}

#reset {
  background-color: var(--accentMain);
  justify-content: flex-end;
}

#submit:hover,
#reset:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/*Contact*/

.contact-container {
  margin: 2rem auto;
  max-width: 900px;
  padding: 0 2rem;
  width: 100%;
}

.contact-container h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
}

.contact-container h2 {
  margin: 2rem 0;
  font-weight: normal;
}

table {
  margin: 0 auto;
  text-align: left;
  border-radius: 10px;
  border-spacing: 0 1rem;
  width: 100%;
}

th {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--accentMain);
  letter-spacing: 2px;
  background-color: var(--accentOther);
  width: 10%;
  border-radius: 10px 0px 0px 10px;
}

td {
  background: linear-gradient(90deg, var(--accentOther) 0%, var(--accentMain) 15%, var(--accentMain));
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  border-radius: 0px 10px 10px 0px;
}

th,
td {
  min-height: 2rem;
  padding: 0.5rem 1rem;
}

.contact-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem auto;
  align-items: center;
  gap: 1rem;
}

.contact-links img {
  width: 50%;
  max-width: 80px;
  transition: scale 0.2s ease-in-out;
  image-rendering: -moz-crisp-edges;
}

.contact-links a:hover img {
  scale: 1.05;
}

.contact-links p {
  color: var(--headings);
  font-size: clamp(1rem, 2vw, 1.2rem);
}

@media screen and (min-width: 851px) {
  .socials img {
    margin: 0 1.5em;
  }

  .about-home {
    padding: 2rem 4vw;
    display: block;
  }

  /* Clearfix sourced from:

  W3 Schools - CSS Layout - clear and clearfix - https://www.w3schools.com/Css/css_float_clear.asp */

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .about-heading {
    margin: 0;
  }

  .img1,
  .img2 {
    display: block;
  }

  .img-1 {
    float: left;
    margin-right: 2vw;
    margin-bottom: 1%;
    margin-top: 3vh;
    display: block;
    width: 33%;
  }

  .img-2 {
    float: right;
    margin-left: 2vw;
    margin-bottom: 1%;
    margin-top: 3vh;
    display: block;
    width: 33%;
  }

  .about-images {
    grid-template-columns: auto auto;
  }

  .about-3 {
    grid-column: span 2;
  }

  .event-label {
    border-radius: 10px 10px 0px 0px;
  }

  .event-content {
    grid-template-columns: 40% 60%;
    column-gap: 2rem;
  }

  .first-heading {
    margin-top: 0;
  }

  .event-content ul li {
    margin-right: 2rem;
  }

  .event-image {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 8;
    margin: auto;
  }

  .event-content img {
    grid-column-start: 1;
    grid-row: span 6;
    margin: auto;
  }

  .event-content h2 {
    grid-column: span 2;
  }

  .lightbox-image-wrapper {
    width: 80vw;
  }

  .form-buttons {
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .socials img {
    margin: 0 0.7em;
  }

  .img-1 {
    margin: 0 auto;
  }

  .home-wrapper {
    width: 70%;
  }

  .img-2 {
    margin: 0 auto 4vh;
  }

  .about-text {
    margin: 4vh 4vw;
  }

  .event-links {
    flex-direction: column;
  }

  .lightbox-image-wrapper {
    width: 90vw;
  }
}

@media screen and (min-width: 1050px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    -ms-grid-columns: auto auto 1fr;
    grid-template-columns: auto auto 1fr;
    min-height: calc(80px + 2rem);
  }

  .logo {
    display: flex;
    margin: 1em 3em;
    grid-column: 1;
    min-width: 80px;
  }

  .logo-heading {
    grid-column: 2;
    display: flex;
    align-items: center;
  }

  nav {
    all: unset;
    grid-column: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3em;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 2em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
  }

  .about-images {
    grid-template-columns: auto auto auto;
  }

  .about-3 {
    grid-column: auto;
  }

  .events-container {
    width: 65%;
  }

  .lightbox-image-wrapper {
    width: 60vw;
  }

  form {
    grid-template-columns: 1fr 1fr;
  }

  .form-buttons {
    grid-column: span 2;
  }
}
