:root {
  --navback: #49230f;
  --accentMain: #d4e09b;
  --headings: #0a210f;
  --accentSub: #ffedca;
  --accentMinor: #fffaf1;
  --accentOther: #216830;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--accentSub);
  font-family: Georgia, serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  font-family: Verdana, sans-serif;
}

h2,
h3,
h4,
h5,
h6,
p {
  color: #386641;
}

p {
  line-height: 1.5;
}

h1 {
  color: var(--headings);
}

button {
  border: none;
  border-radius: 12%/50%;
  width: 18rem;
  background-color: var(--accentMain);
  font-size: 1.3rem;
  letter-spacing: 4px;
  padding: 1.25rem;
  transition: transform 0.5s ease, background-color 0.5s ease-out;
}

button a {
  text-decoration: none;
  color: var(--headings);
  transition: color 0.5s ease;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: var(--headings);
}

button:hover a {
  color: var(--accentMain);
}

/*Header*/

header {
  background-color: var(--navback);
  position: relative;
  z-index: 999;
  width: 100%;
}

.logo {
  margin-top: 1em;
  display: none;
}

.logo-heading {
  display: none;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: relative;
  background-color: var(--navback);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: var(--accentSub);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 10px;
}

.nav-toggle-label span::after {
  top: 10px;
}

nav {
  position: absolute;
  text-align: center;
  background-color: var(--navback);
  top: 100%;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 350ms ease-in-out;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  transition: transform 0.3s ease-out;
}

nav li:hover {
  transform: scale(1.1);
}

nav a {
  color: var(--accentSub);
  text-decoration: none;
  font-size: 1rem;
  text-shadow: 0 0 0.5rem var(--headings);
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

nav a:hover {
  color: var(--accentMain);
}

.is-active {
  color: var(--accentMain);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 200ms ease-in-out 200ms;
}

/* Footer */

footer {
  background-color: var(--navback);
  width: 100%;
  bottom: 0px;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: auto;
}

.back-to-top a,
footer p {
  color: var(--accentSub);
}

footer p {
  grid-column: 1;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3em;
  font-size: clamp(0.8rem, 1.5vw, 1.4rem);
}

.socials {
  grid-column: 2;
  margin: 1rem 0;
}

.back-to-top {
  font-size: clamp(1.1rem, 2vw, 1.25rem);
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3em;
}

.back-to-top a {
  text-decoration: none;
  transition: transform 0.3s ease-out;
}

.back-to-top:hover a {
  transform: scale(1.1);
  color: var(--accentMain);
}

/* Home image background */

.home-background {
  background: linear-gradient(rgba(43, 19, 0, 0.6), rgba(43, 19, 0, 0.6));
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.home-underside {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--navback);
  z-index: -4;
}

.home-background-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-background-text {
  z-index: 100;
}

.pic {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  animation: animate 24s infinite;
}

#pic1 {
  animation-delay: 0s;
  background-image: url(./images/background1.jpg);
}

#pic2 {
  animation-delay: 6s;
  background-image: url(./images/bg2.jpg);
}

#pic3 {
  animation-delay: 12s;
  background-image: url(./images/bg3.jpg);
}

#pic4 {
  animation-delay: 18s;
  background-image: url(./images/bg4.jpg);
}

@keyframes animate {
  0% {
    opacity: 1;
  }

  16.67% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  91.67% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#front-H1 {
  margin: 0 3rem;
  font-size: clamp(3rem, 5vw, 3.8rem);
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  line-height: 1;
  color: var(--accentMain);
  animation: h1Fade ease-out 1s;
}

@keyframes h1Fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#front-P {
  margin: 0 4rem;
  font-size: clamp(1.9rem, 3vw, 2.5rem);
  text-shadow: 0 0 0.7rem rgba(0, 0, 0, 1);
  color: var(--accentSub);
  animation: frontPSlide 1s ease-out, frontPFade ease-out 1s;
}

@keyframes frontPSlide {
  0% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes frontPFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Home About section*/

.about-home {
  background-color: var(--headings);
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.about-heading {
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  line-height: 1;
  color: var(--accentMain);
  margin: 4vh 3vh;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-home img {
  border-radius: 11.25%;
  max-width: 400px;
}

.about-text {
  color: var(--accentSub);
  grid-row: 3;
  margin: 0;
  font-size: clamp(1.25rem, 1.5vw, 1.4rem);
  margin: 4vh 0;
}

.img1,
.img2 {
  float: none;
  display: flex;
  justify-content: center;
}

.img1 {
  grid-row: 2;
}

.img2 {
  grid-row: 4;
  margin-bottom: 6vh;
}

/*Home Associates*/

.home-associates {
  background-color: var(--accentOther);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.home-associates h2 {
  color: var(--accentSub);
  font-size: clamp(1.6rem, 3vw, 2.2rem);
}

.home-associates-row {
  width: 90%;
  height: 250px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.home-associates-row::before,
.home-associates-row::after {
  height: 250px;
  width: 15%;
  position: absolute;
  content: "";
  background: linear-gradient(to right, var(--accentOther) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.home-associates-row::before {
  left: 0;
  top: 0;
}

.home-associates-row::after {
  right: -1px;
  top: 0;
  transform: rotateZ(180deg);
}

.slider {
  height: 250px;
  display: flex;
  align-items: center;
  animation: slideshow 30s linear infinite;
}

.slider img {
  margin: 0 25px;
  border-radius: 12%/17.65%;
  box-shadow: 0px 0px 25px var(--headings);
  transition: transform 0.2s ease-in-out;
}

.slider img:hover {
  transform: scale(1.1);
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/*Events*/
.events h3 {
  color: var(--headings);
}

.events {
  margin-bottom: 2rem;
}

.event-links {
  display: flex;
  flex-wrap: wrap;
}

.event-content {
  order: 99;
  text-align: justify;
  width: 100%;
  display: none;
  border-top: none;
  box-shadow: 0px 0px 20px var(--headings);
  border-radius: 0px 0px 30px 30px;
  margin: auto;
  padding: 2rem;
  background-color: #fff0d2;
}

.event-content h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.event-content ul li {
  line-height: 1.3;
}

.event-content ul {
  margin: 0 1rem;
}

.first-heading {
  margin-top: 1rem;
}

.event-image {
  border-radius: 30px;
  margin: auto;
  height: 100%;
}

.event-content img {
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.event-content h3,
.event-content p,
.event-content a {
  margin-bottom: 1rem;
  line-height: 1.25;
  margin-right: 2rem;
}

.accordion-label {
  padding: 0.5rem 1rem;
  border-radius: 10px 10px;
  border-top: 1px solid var(--accentOther);
  border-left: 1px solid var(--accentOther);
  border-right: 1px solid var(--accentOther);
  display: block;
  font-size: 1rem;
  color: var(--headings);
  background-color: var(--accentMain);
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease;
  flex: 1;
}

.accordion-label:hover {
  background-color: #28823c;
}

.accordion-label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-image: url("./images/chevron.svg");
  background-size: contain;
  transition: transform 0.5s;
}

.accordion-input {
  display: none;
}

.accordion-input:checked + .accordion-label {
  font-weight: bold;
  color: var(--accentMinor);
  background-color: var(--accentOther);
}

.accordion-input:checked + .accordion-label + .event-content {
  display: grid;
}

.accordion-input:checked ~ .accordion-label::after {
  transform: translateY(-50%) rotate(0.25turn);
}

/*Image Gallery*/

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
  margin: 2rem;
  gap: 2rem;
  justify-content: center;
}

.image-gallery img {
  max-width: 00px;
  width: 100%;
  margin: 0 auto;
  border-radius: 6%/9%;
  transition: transform 0.3s ease-in-out;
}

.image-gallery img:hover {
  transform: scale(1.04);
}

@media screen and (min-width: 851px) {
  .socials img {
    margin: 0 1.5em;
  }

  .about-home {
    padding: 2rem 4vw;
    display: block;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .about-heading {
    margin: 0;
  }

  .img1,
  .img2 {
    display: block;
  }

  .img-1 {
    float: left;
    margin-right: 2vw;
    margin-bottom: 1%;
    margin-top: 3vh;
    display: block;
    width: 33%;
  }

  .img-2 {
    float: right;
    margin-left: 2vw;
    margin-bottom: 1%;
    margin-top: 3vh;
    display: block;
    width: 33%;
  }

  .accordion-label {
    border-radius: 10px 10px 0px 0px;
  }

  .event-content {
    grid-template-columns: 40% 60%;
    column-gap: 2rem;
  }

  .first-heading {
    margin-top: 0;
  }

  .event-content ul li {
    margin-right: 2rem;
  }

  .event-image {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 8;
    margin: auto;
  }

  .event-content img {
    grid-column-start: 1;
    grid-row: span 6;
    margin: auto;
  }

  .event-content h2 {
    grid-column: span 2;
  }
}

@media screen and (max-width: 850px) {
  .socials img {
    margin: 0 0.7em;
  }

  .about-home img {
    width: 70%;
  }

  .img-1 {
    margin: 0 auto;
  }

  .img-2 {
    margin: 0 auto 4vh;
  }

  .about-text {
    margin: 4vh 4vw;
  }

  .event-links {
    flex-direction: column;
  }

  .event-content img {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media screen and (min-width: 1050px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    -ms-grid-columns: auto auto 1fr;
    grid-template-columns: auto auto 1fr;
  }

  .logo {
    display: flex;
    margin: 1em 3em;
    grid-column: 1;
  }

  .logo-heading {
    grid-column: 2;
    display: flex;
    align-items: center;
  }

  nav {
    all: unset;
    grid-column: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3em;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 2em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
  }
}
